body {
  margin: 0 5%;
  font-family: 'Onest';
  src: url('/public/Onest.ttf');

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  display: flex;
  height: 100px;
  place-items: center;
}

.menu {
  height: 100%;
  width: 100%;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

.btn {
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: #4824ff;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5 ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

header a:hover {
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

.btn:before {
  content: '';
  position: absolute;
  height: 300px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}

.btn:hover:before {
  transform: rotate(20deg) translateX(200px);
}

.icon {
  height: 55px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 2%;
}

.icon.telegram {
  content: url(/public/icons/telegram.png);
}

.icon.vk {
  content: url(/public/icons/vk.png);
}

.icon:hover {
  background: #4824ff;
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.switch {
  width: 135px;
  height: 55px;
  border-radius: 55px;
  background-color: #eeebff;
  overflow: hidden;
}

.theme {
  margin: 2px;
  width: 51px;
  height: 51px;
  border-radius: 55px;
  background-color: black;
  filter: invert();
  transition: 0.5s ease-in-out;
}

.theme.light {
  content: url(/public/icons/sun.png);
}

.switch:hover > .theme.light {
  transform: rotate(45deg);
}
